*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//main and backround styling
.app{
    height: 100vh;
    background: #2B302E;
    color: #fff;
}

//span styling
.blue{
    color: #3DC4FF;
}