@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

//main and backround styling
.app{
    font-weight: 600;
    height: 100vh;
    background: #2B302E center url("/src/blob-scene-haikei.svg");
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

//span styling
#blue{
    color: #3DC4FF;
    font-weight: 500;
}

#red-btn{
    background-color: rgb(255, 0, 0);
}
#green-btn{
    background-color: #008000;
}

.navBar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    .wrap{
        display: flex;
        align-items: center;
        button{
            border-radius: 5px;
            height: 30px;
            width: 60px;
            margin-left: 30px;
        }
    }
    h1{
        font-weight: 500;
        cursor: pointer;
    }
}

//main frosted glass definitions
@mixin blur{
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 21px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
    &::before{
        content: "";
        position: absolute;
        background: inherit;
        background-size: cover;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.589);
        filter: blur(10px);
        margin: -20px;
    }
}

//main button styling
button{
    @include blur();
    border: none;
    border-radius: 5px;
    transition: 0.3s all;
    height: 40px;
    width: 60px;
    &:hover{
        transform: scale(0.96);
    }
}

//main input styling
input{
    background-color: rgba(255, 255, 255, 0.397);    
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    padding-left: 15px;
    margin: 20px;
}
//main select styling
select{
    @include blur();
    border: none;
    width: 150px;
    color: #fff;
    height: 40px;
    border-radius: 5px;
}

#plassering{
    position: absolute;
    z-index: 100;
}

.narrow-card{
    @include blur();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 200px;
    width: 400px;
    h2{
        margin-top: 20px;
    }
    h1{
        margin-top: 20px;
    }
    button{
        height: 40px;
        width: 100px;
        margin: 20px;
    }
}


.card{
    @include blur();
    height: 60%;
    width: 60%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button{
        height: 100px;
        margin: 10px;
        width: 200px;
    }
    h1{
        margin-bottom: 20px;
    }
}



.bigCard{
    @include blur();
    height: 80%;
    width: 85%;
    padding: 40px;
    .topControl{
        width: 100%;
        button{
            width: 110px;
            height: 40px;
        }
        .filters{
            display: flex;
            justify-content: space-around;
            align-items: center;
            .wrap{
                display: flex;
                align-items: center;
                flex-direction: column;
                button{
                    margin-left: 20px;
                }
            }
        }  
    }
    .top{
        @include blur();
        height: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        justify-items: center;
        align-items: center;
        border-radius: 5px;
        margin: 20px 0px 20px 0px;
    }

}

.list{
    overflow: auto;
    width: 100%;
    height: 70%;
    padding: 20px;
    
    #red{
        background: rgb(255,255,255);
        background: linear-gradient(77deg, rgba(255,255,255,0) 80%, rgba(246,49,49,1) 100%); 
    }

    #green{
        background: rgb(255,255,255);
        background: linear-gradient(77deg, rgba(255,255,255,0) 80%, rgba(27,212,45,1) 100%);
    }
}
.listItem{
    font-weight: 400;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    height: 50px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.137);
    margin: 10px;
    transition: 0.2s;
    border-radius: 5px;
    &:nth-child(2n){
        @include blur();
        border-radius: 5px;
    }
    .moreInfo{
        display: none;
        width: 100%;
        text-align: center;
    }
}
.extended{
    height: 150px;
}

.Sucsess{
    height: 60px;
    background-color: #3fbd2e;
    position: absolute;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.71);
    color: #fff;
    padding: 10px;
    bottom: 0;
    right: 0;
    z-index: 10;
    margin: 40px 70px;
    animation: 3.1s fadein;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    justify-items: center;
}

.editCard{    
    //inner styling
    @include blur();
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    //size and posistion
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    max-height: 70%;
    max-width: 75%;
    padding: 30px;
    margin: auto;
    z-index: 1000;
    .wrap{
        width: 90%;
        text-align: center;
    }
}

.btn-group{
    display: flex;
    margin-bottom: 20px;
    button{
        margin: 20px;
        font-weight: 400;
    }
}

.hidden{
    display: none;
}

.confirmAction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 250px;
    width: 500px;
    padding: 30px;
    @include blur();
    position: absolute;
    // backgroun{d:#8f8f8f;
    h2{
        font-size: 14px;
        font-weight: 500;
    }
}

@keyframes fadein {
    from{
        filter: opacity(0);
    }
    50%{
        filter: opacity(1);
    }
    to{
        filter: opacity(0);
    }
}